<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite.Play</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="global-header">
        <div class="content">
            <div class="logo-or-avatar">
                <% if (user) { %>
                    <div class="user-avatar">
                        <a href="#">
                            <img src="<%= user.avatar %>" id="useravatar" height="75px" alt="<%= user.name %>">
                        </a>
                        <div class="user-details">
                            <ul>
                                <li class="dropdown">
                                    <%= user.name %> ▼
                                        <div class="dropdown-content">
                                            <ul>
                                                <li><a href="/users/<%= user._id %>">Account Details</a></li>
                                                <li><a href="/games/new">Add Game</a></li>
                                                <li><a href="/logout">Log Out</a></li>
                                            </ul>
                                        </div>
                                </li>

                                <li>AUS $0.00</li>
                            </ul>

                            <% } else { %>
                                <div class="logo">
                                    <span id="logo-default">
                                        <a href="/games">
                                            <img src="/images/store-basics/infplay-logo.png" width="" height="75px"
                                                alt="Store Logo">
                                        </a>
                                    </span>
                                </div>
                                <% } %>

                        </div>
                    </div>

                    <div class="header-nav-container">
                        <ul>
                            <li class="flex">
                                <a href="/games">
                                    SHOP
                                </a>
                            </li>
                            <% if (user) { %>
                                <li class="flex">
                                    <a href="#">
                                        REALMS
                                    </a>
                                </li>
                                <li class="flex">
                                    <a href="#">
                                        TOP UP
                                    </a>
                                </li>
                                <% } else { %>
                                    <li class="flex">
                                        <a href="/auth/google">
                                            LOG IN
                                        </a>
                                    </li>
                                    <li class="flex">
                                        <a href="#">
                                            TOP UP
                                        </a>
                                    </li>
                                    <% } %>
                                        <li class="flex">
                                            <a href="#">
                                                SUPPORT
                                            </a>
                                        </li>
                        </ul>

                    </div>
            </div>
        </div>
    </div>
    <hr>
    <main>

        <% /* %>

            <header class="main-header">

                <% if (user) { %>
                    <div class="user-avatar">
                        <img src="<%= user.avatar %>" id="useravatar" alt="<%= user.name %>">
                        <div class="user-details">
                            <!-- dropdown menu here -->
                            <!-- dropdown mnenu needs links to:
                    account details, log out-->
                            <a href="#home" class="active">
                                <%= user.name %> ▼
                            </a>
                            <!-- Navigation links -->
                            <div id="myLinks">
                                <a href="/logout">Log Out</a>
                            </div>
                            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <span class="account-balance">AUS $0.00</span>
                    </div>
                    <% } else { %>
                        <div class="logo">LOGO</div>
                        <% } %>
                            <nav>
                                <ul>
                                    <li><a href="/games">Shop</a></li>
                                    <% if (user) { %>
                                        <li><a href="#">Realms</a></li>
                                        <li><a href="#">Top Up</a></li>
                                        <% } else { %>
                                            <li><a href="/auth/google">Log In</a></li>
                                            <li><a href="#">Learn More</a></li>
                                            <% } %>
                                                <li><a href="#">Support</a></li>

                                </ul>
                            </nav>
            </header>

            <% */ %>