<%- include('../partials/header') %>

  

    <div class = "flex-container">
      <% skills.forEach(function(s) { %>
        <div class = "links">
          <a href="/skills/<%= s.id %>">
            <%= s.skill %>
            <img src="<%= s.imgUrl %>" alt="<%= s.skill %>">
          </a>
        </div>
        <%})%>
    </div>
  </div class = "add"> <a href = "/skills/new">Add Skill</a></div>
  

<%- include('../partials/footer') %>
  </body>
</html>
