<%- include("../partials/header") %>

    <div class="container">
        <!-- Game details section here -->
        <div class="show-page-header">
            <h1 id="show-game-title">
                <%= game.title %>
            </h1>
            <div class="mini-nav-bar">
                <ul>
                    <li><a href="/games">ALL GAMES</a></li>
                    <li><a href="#">ALL <%= game.genre %></a></li>
                    <li><a href="#">REVIEWS</a></li>
                </ul>
            </div>
        </div>

        <div class="show-section-1">

            <div class="preview">
                <div class="carousel">

                    <div class="carousel__track-container">
                        <ul class="carousel__track">
                            <% for (let i=0; i < 4; i++) { %>
                                <li class="carousel__slide <%= i === 0 ? 'current-slide' : '' %>">
                                    <img class="carousel__image"
                                        src="/images/game-previews/<%= game.title %>/<%= i %>.jpg" alt="">
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <button class="carousel__button carousel__button--left"></button>
                    <button class="carousel__button carousel__button--right"></button>

                    <div class="carousel__nav">
                        <% for (let i=0; i < 4; i++) { %>
                            <button class="carousel__indicator <%= i === 0 ? 'current-slide' : '' %>">
                                <img class="carousel__nav-image"
                                    src="/images/game-previews/<%= game.title %>/<%= i %>.jpg" alt="">
                            </button>
                            <% } %>
                    </div>

                </div>
            </div>
            <div class="mini-details">
                <div class="mini-details-header">
                    <img src="/images/game-previews/<%= game.title %>/header.jpg" alt="">
                </div>
                <div class="mini-details-blurb">
                    <p>
                        <%= game.description %>
                    </p>
                </div>
                <div class="mini-details-buy">
                    <a href="#"><button>Wishlist</button></a>
                </div>
            </div>
        </div>
        <div class="show-section-2">
            <div class="elaborated-details">
                <%= game.description %>
            </div>
            <div class="show-sidebar">
                <div class="show-sidebar-top">
                    <div class="details">Details of Game
                    </div>
                    <div class="sidebar">Requirements, Languages, Localities, Links to Share</div>
                </div>
                <div class="developer-section">
                    <% if (user) { %>
                        <a href="/games/<%= game._id %>/edit"><button id="developer-section-edit">Edit</button></a>
                        <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                            <button id="developer-section-delete" type="submit">Delete</button>
                        </form>
                        <% } %>
                </div>
            </div>
        </div>

        <!-- Review section -->

        <div class="review-section">
            <div class="review-section-left">
                <div class="review-section-header">
                    <h2>Gamer's Opinion</h2>
                    <div class="review-button">
                        <% if (user) { %>
                            <button id="review-game-btn" class="review-game-btn">Review Game</button>
                            <% } %>
                    </div>
                </div>
                <div class="review-section-featured">
                    <!-- reviews loop -->
                </div>
            </div>

            <div class="review-section-right">
                <div class="recent-reviews">
                    <h3>RECENT REVIEWS</h3>
                    <% game.reviews.forEach(function(review) { %>
                        <div class="review">
                            <p><strong>
                                    <%= review.userName %>
                                </strong></p>
                            <p>
                                <%= review.content %>
                            </p>
                            <p>Rating: <%= review.rating %> stars</p>

                            <div class="review-control">
                                <% if (user) { %>
                                    <button id="edit-review-btn">Edit Review</button>
                                    <form action="/games/<%= game._id %>/reviews/<%= review._id %>?_method=DELETE"
                                        method="POST">
                                        <button type="review-submit">Delete Review</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% }) %>
                </div>

            </div>
        </div>


        <!-- New Review Modal -->

        <div id="review-modal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <h2>Writing Your Review</h2>
                <p>Reminder of terms or things that user has to agree to review (rules):</p>
                <form action="/games/<%= game._id %>/reviews" method="POST">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="rating">Rating:</label>
                        <select id="rating" name="rating" required>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="content">Description:</label>
                        <textarea id="content" name="content" rows="5" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="review-submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Edit Review Modal -->

        <div id="review-modal-edit" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <h2>Writing Your Review</h2>
                <p>Reminder of terms or things that user has to agree to review (rules):</p>
                <form action="/games/<%= game._id %>/reviews/<%= game.reviews._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="rating">Rating:</label>
                        <select id="rating" name="rating" required>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="content">Description:</label>
                        <textarea id="content" name="content" rows="5" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="review-submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <script src="/javascripts/carousel.js"></script>
    <script src="/javascripts/show.js"></script>

    <%- include("../partials/footer") %>