<%- include('../partials/header') %>

    <h1>
        <%= skill.skill %>
    </h1>
    <p>
        <%= skill.rating %>
    </p>

    <a href="/skills/edit/<%= skill.id %>">Edit</a>

    <%- include('../partials/footer') %>